<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>

    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="cart">

    <h1>Shopping Cart</h1>

    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.book.isbn}"></td>
            <td th:text="${item.book.title}"></td>
            <td th:text="${item.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>