name: Build

on:
    push:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: 'read'
            id-token: 'write'

        steps:
            -   uses: actions/checkout@v4

            - name: Log in to Docker Hub
              uses:  docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            -   name: Set up JDK 25
                uses: actions/setup-java@v4
                with:
                    java-version: '25'
                    distribution: 'adopt'

            -   name: Cache local Maven repository
                uses: actions/cache@v4
                with:
                    path: ~/.m2/repository
                    key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
                    restore-keys: |
                        ${{ runner.os }}-maven-

            -   name: Maven Build, Test, and Create Docker Image
                run: mvn -B spring-boot:build-image -Dspring-boot.build-image.imageName=simas/order:${{ github.run_number }}

            -   name: Docker Push
                run: docker push simas/order:${{ github.run_number }}

            -   name: Set up GKE credentials
                uses: google-github-actions/auth@v2
                with:
                    credentials_json: ${{ secrets.GCP_SA_KEY }}

            -   name: Set up Cloud SDK
                uses: google-github-actions/setup-gcloud@v2

            -   name: Get GKE credentials
                uses: google-github-actions/get-gke-credentials@v2
                with:
                    cluster_name: autopilot-cluster-1
                    location: us-central1

            -   name: Update deployment
                run: kubectl set image deployment/order order-1=simas/order:${{ github.run_number }}